<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
    </section>
  <% if logged_in? && admin? %>
    <section class="home_form">
      <%= render partial: "shared/home_form", locals: { btn: "Post" } %>
    </section>
  <% end %>
  </aside>
  <div class="col-md-8">
    <% if @user.homes.any? %>
      <h3>Homes (<%= @user.homes.count %>)</h3>
      <ol class="homes">
        <%= render @homes %>
      </ol>
    <% end %>
  </div>
</div>