<div class="row">
  <%= form_tag(orders_path, :method => "get", class: "navbar-form navbar-left") do %>
    <%= select_tag :search_order,  options_for_select(options_for_select_search, params[:search_order]),onchange: 'this.form.submit();', include_blank: "Search order home", class: "form-control"%>
  <% end %>
</div>
