<div class="row">
  <div class="col-md-8">
    <%=render @home%> </br></br>
Number room: <%= @home.rooms.count%>
<%= render @home.rooms %></p>
</div>
<%if admin?%>
  <div class="col-md-4">
    <%= render partial: "shared/room_form", locals: { btn: "Post" } %>
  </div>
<%end%>
</div>
